* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#container-header {
  background-color: rgb(43, 43, 43);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 23px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin-left: 38%;
}

.container-homepage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #000000;
}
.container-generi {
  height: 190px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.genere {
  border: 1px solid rgb(255, 255, 255);
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.814) 0px 4px 6px, rgba(0, 0, 0, 0.803) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;  border-radius: 2px;
}
.title-generi {
  font-weight: bold;
  text-transform: capitalize;
  color: #191414;
  font-size: 15px;
}

.Title-best-product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  margin-left: 20px;
}

.Name-Playlist {
  font-size: 30px;
  font-weight: 450;
  color: white;
}

/* inizio style delle top music immagini + nomi + prezzi */
.container-top-music-img-title-and-price {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.top-music-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.top-music-container-border {
  width: 170px;
  height: 140px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: 0.8s;
}

.top-music-container-border:hover {
  transform: scale(1.2);
  z-index: 2;
}

.top-music-1-container {
  display: flex;
  height: 97%;
}

.foto-top-music {
  width: 100%;
  height: 100%;
}

.top-music-2-container {
  height: 3%;
  width: 100%;
  background-color: rgb(156, 156, 156);
  background-color: rgb(6, 234, 10);
}
/* OVERFLOW MUSIC */

.container-stories-reel-stanze {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 230px;
  background-color: rgb(0, 0, 0);
  overflow-x: scroll;
}

.gruppo {
  height: 85%;
  background-color: rgb(47, 43, 43);
  min-width: 160px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(220, 220, 220, 0.512) 0px 4px 12px;
}

.img {
  display: flex;
  width: 100%;
  height: 85%;
}
.icon-row-menu {
  width: 100%;
  height: 97%;
}
.testo-prezzo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
  justify-content: center;
  background-color: white;
  align-items: center;
}
